*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purple-dark: #170312;
    --purple-mediun: #33032d;
    --purple-light: #531253;
    --gray-light:#eaeaea;
    --white: #f4fffd;
}

body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 20px;

}

.nosotros {
    margin-bottom: 60px;
    margin-top: 60px;

}

.nosotros .enlace {
    display: inline-block;
    margin-top: 40px;
    color: var(--purple-light);
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: .3s ease all;
}
.nosotros .enlace:hover {
    text-decoration: none;
    letter-spacing: 3px;
    border-bottom:  1px solid var(--purple-light);

}


.subtitulo {
    font-size: 20px;
    color: var(--purple-dark);
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.subtitulo span {
    background-color: var(--gray-light);
    padding: 0 15px;
    z-index: 99;
    position: relative;

}

/*----------------------*/
/* Carrusel */
/*----------------------*/
#img1, #img2, #img3 > img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

#img1 div > h5 {
    font-size: 50px;
}
#img2 div > h5 {
    font-size: 50px;
}
#img3 div > h5 {
    font-size: 50px;
}

/*----------------------*/
/* Productos */
/*----------------------*/

.productos {
    background: var(--gray-light);
    padding: 20px;
    margin-bottom: 60px;
}
.productos .titulo {
    width: 70%;
    font-size: 25px ;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
}

.productos .producto {
    position: relative;
    width: 100%;

}
.productos .overlay {
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--purple-light);    
    overflow: hidden;
    transition: .5s ease;
}

.productos .producto:hover .overlay{
    width: 100%;
    opacity: .8; 
}

.productos .producto .overlay-texto{
    top: 50%;
    left: 50%;
    position: absolute;
    white-space: nowrap;
    color: var(--white);
    font-size: 18px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

}

.productos .btn-productos{
    background-color: var(--purple-light);
    color: #fff;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid transparent;
    transition: .3s ease;
}

.productos .btn-productos:hover{
    background-color: transparent;
    border: 2px solid var(--purple-light);
    color: var(--purple-light );
}
/*-------------*/
/* Separador */
/*-------------*/

.separador {
    width: 100%;
    height: 250px;
    background-image: url('/imgs/container-ship-596083_1920.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}

.separador p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: 'Noto Serif', serif;
    padding: 10px;
}

/*-------------*/
/* Acerca de  */
/*-------------*/

.acerca-de {
    margin-bottom: 60px;

}

.galeria {
    margin-bottom: 60px;

}
.galeria img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.contacto {
    margin-bottom: 60px;
}
.redes-sociales {
    padding: 60px;
    background-color:black;
    height: 500dpx;
}

.redes-sociales img {
    padding: 5px;
    border-radius: 100%;
    width: 50px;
    transition:  .3s ease all;
}
.redes-sociales img:hover {
    transform:  scale(1.2);
}

.redes-sociales p {
    font-size:medium;
    color: blanchedalmond;

}
.redes-sociales div {
    margin-top: 10px;
    color: blanchedalmond;
}
#redessociales {
    margin-bottom: 40px;
}
.sticky-top2 {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;;
    z-index: 1030;
}
.footer{
    height: 160px;
    background-color: black;
    color: blanchedalmond;
}